@{
ViewData["Title"] = "Delete Page";
}
<html>
    <form>
       Enter Product Id:<input type="text" class="form-control" placeholder="Product Id *" name="Id" value="" />
         <button class="btn btn-dark btn-lg btn-block" type="submit">Delete</a></button>          
    </form>
</html>