@{
    ViewData["Title"] = "Welcome";
}
<html>

        <h1>Welcome To KiddoShield</h1>
          
         Click here to Login :
        <a  href="/Customer/Login">Sign in</a><br><br>
         Click here to Register :
         <a href="/Customer/Register">Sign Up</a>
        <hr/>
  
  
</html>